/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #777;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

///service2

section.service2{
  text-align: center;
}

.service2__container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;

}

.service2__container__item1{
  width: 80px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 80px;
  background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon01-a28ec01862252e91844e967c292c48f010ba5745676732f440604d719fb55337.png);
  flex-grow: 1;
  flex-basis: 223px;
  padding-top: 80px;
  margin-top: 24px;
}

.service2__container__item2{
  background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon02-6a6d3d2a031a144e73704a6503c1ca38ca27285aa7462f9d93b914dea4228c8c.png);
  width: 80px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 80px;
  flex-grow: 1;
  flex-basis: 223px;
  padding-top: 80px;
  margin-top: 24px;
}

.service2__container__item3{
  background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon03-25ad908ec8524d66e532f232a4dee07d6e0fe1535e366871cba3bede0dd3e334.png);
  width: 80px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 80px;
  flex-grow: 1;
  flex-basis: 223px;
  padding-top: 80px;
  margin-top: 24px;
}

